.o_golf_holes {
    td {
        text-align: center;
        background-color: black;
        color: #CCC;
        border: 1px solid;
    }
}
.o_golf_scores {
    td {
        text-align: center !important;
    }
}
.golf-row {
    div {
        font-size: 1.25rem;
    }
    img {
        border-radius: 50%;
        object-fit: cover;
        vertical-align: middle;
    }
}
.golf-tournament-cards {
    display: flex;
    flex-wrap: wrap;
}