.o_golf_holes {
    td {
        text-align: center;
        background-color: black;
        color: #CCC;
        border: 1px solid;
    }
}
.o_golf_scores {
    td {
        text-align: center !important;
    }
}